
<h1>All Pledges</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
     
      
      <th colspan="10"></th>
    </tr>
  </thead>

  <tbody>
    <% @pledges.each do |pledge| %>
      <tr>
        <td><%= link_to(pledge.amount, pledge_path(pledge)) %></td>
        
        <td><%= pledge.amount %></td>
       
        <td><%= link_to 'Edit', edit_pledge_path(pledge) %></td>
        <td><%= link_to 'Destroy', pledge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to('New Pledge', new_pledge_path) %>
