
<h1>Charity Name: <%= link_to(@pledge.charity.name, charity_path(@pledge.charity)) %></h1>
<h2><%= @pledge.amount %></h2>



<p>
  <strong>Amount:</strong>
  <%= @pledge.amount %>
</p>





<h2><%= link_to('All Pledges', pledges_path) %> |


<%= link_to("Edit", edit_pledge_path(@pledge)) %></h2>