<h1>Welcome to Push-Up</h1>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>


<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Height:</strong>
  <%= @user.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @user.weight %>
</p>

<p>
  <strong>Group:</strong>
  <%= link_to(@user.group.name, group_path(@user.group_id)) %>
</p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
