<!DOCTYPE html>
<html>
  <head>
    <title>PushUp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="header">
  <h2><a href="/login" class="logo">Sweat Clause</a></h2>
  <div class="header-right">
    <a class="active" href="/login">Login</a>
    <a href="/users">Users</a>
    <a href="/challenges">Challenges</a>
    <a href="/charities">Charities</a>
    <a href="activity_trackers#new"> Create a Activity Tracker</a>
    <a href="/groups"> Groups</a>
    <a href="/pledges"> Pledges </a>
    <a class="active" href="/logout">Log Out</a>
    

  </div>
</div>

    <%= yield %>
  </body>
</html>
